<section id="banner1">
    <div class="container-fluid" id="banner-container">
        <div class="row" id="banner-row">
            <div class="col-md-6" id="banner-col">
                <h3>
                Good and tasty food depends on Spice level
                </h3>
                <p>To know more about the spices used in the food continue reading the article</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <a class="btn btn-primary" href="#" role="button">Know More</a>
                </div>
            </div>
            <div class="col-md-6" id="banner-col2">
                <img class="img-responsive rounded mx-auto d-block" src="./img/img1.jpg" alt="img1"/>
            </div>
        </div>
    </div>
</section>

<section id="banner2">
    <div class="container-fluid" id="banner-container">
        <div class="row" id="banner-row">
            <div class="col-md-6" id="banner-col2">
                <img class="img-responsive rounded mx-auto d-block" src="./img/img2.jpg" alt="img1"/>
            </div>
            <div class="col-md-6" id="banner-col">
                <h3>
                With Herbs and Spices you can Increase Resistance
                </h3>
                <p>To know more about how to increase resistance using spices and herbs continue reading</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <a class="btn btn-primary" href="#" role="button">Know More</a>
                </div>
          </div>
        </div>
      </div>
</section>

<section id="banner3">
    <div class="container-fluid" id="banner-container">
        <div class="row" id="banner-row">
            <div class="col-md-6" id="banner-col">
                <h3>
                Spotlight of Using Turmeric
                </h3>
                <p>As turmeric is a color booster and also makes the healthy and delicious food on the table..Continue reading </p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <a class="btn btn-primary" href="#" role="button">Know More</a>
                </div>
            </div>
            <div class="col-md-6" id="banner-col2">
                <img class="img-responsive rounded mx-auto d-block" src="./img/img3.jpg" alt="img1"/>
            </div>
        </div>
    </div>
</section>